<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile page</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.0.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="./stylesheets/login.css">
    </link>
</head>

<body>
    <div id="login-main">
        <img src="https://logos-world.net/wp-content/uploads/2020/04/Facebook-Logo.png" alt="">
        <form action="/login" method="post">
          <input type="text" name="username" placeholder="username...">
          <input type="password" name="password" placeholder="password...">
          <input type="submit" class="btn" value="log in">
          <a href="">forgotten password ?</a>
          <div id="seprate"></div>
        </form>
        <a href="/register"><button class="btn-create">Create new account</button></a>
      </div>

    <script src="./javascripts/script.js"></script>
</body>

</html>