<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile page</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.0.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="./stylesheets/register.css">
    </link>
</head>

<body>
  <div id="register-main">
    <div id="register-main-popup">
        <div id="register-main-popup-nav">
            <h1>Sign Up</h1>
            <p>It's quick and easy.</p>
           <a href="/"> <i class="ri-close-fill"></i></a>
        </div>
        <form action="/register" method="post">
            <div id="name-div">
                <input type="text" name="first_name" placeholder="first name...">
                <input type="text" name="last_name" placeholder="last name....">
            </div>
            <input type="text" name="username" placeholder="username...">
            <input type="text" name="email" placeholder="email address...">
            <input type="password" name="password" placeholder="New password....">
            <label for="">Date of birth</label>
            <div id="select-dateOfBirth">
                <select name="bDay">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                    <option>25</option>
                    <option>26</option>
                    <option>27</option>
                    <option>28</option>
                    <option>29</option>
                    <option>30</option>
                    <option>31</option>
                </select>
                <select name="bMonth">
                    <option>Jan</option>
                    <option>Fab</option>
                    <option>March</option>
                    <option>April</option>
                    <option>May</option>
                    <option>June</option>
                    <option>July</option>
                    <option>Aug</option>
                    <option>Sep</option>
                    <option>October</option>
                    <option>November</option>
                    <option>December</option>
                </select>
                <select name="bYear">
                    <option>2023</option>
                    <option>2022</option>
                    <option>2021</option>
                    <option>2020</option>
                    <option>2019</option>
                    <option>2018</option>
                    <option>2017</option>
                    <option>2016</option>
                    <option>2015</option>
                    <option>2014</option>
                    <option>2013</option>
                    <option>2012</option>
                    <option>2011</option>
                    <option>2010</option>
                    <option>2009</option>
                    <option>2008</option>
                    <option>2007</option>
                    <option>2006</option>
                    <option>2005</option>
                    <option>2004</option>
                    <option>2003</option>
                    <option>2002</option>
                    <option>2001</option>
                </select>
            </div>
            <label for="">Gender</label>
            <div id="gender">
                <div class="gender-div">
                    <label for="">male</label>
                    <input type="radio" name="gender" value="male">
                </div>
                <div class="gender-div">
                    <label for="">female</label>
                    <input type="radio" name="gender" value="female">
                </div>
                <div class="gender-div">
                    <label for="">others</label>
                    <input type="radio" name="gender" value="others">
                </div>
            </div>
            <button class="submit-btn" type="submit">Sign Up</button>
        </form>
    </div>
</div>
   
    <script src="./javascripts/script.js"></script>
</body>

</html>